<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
I followed the tutorials <a href="http://dl.e-book-free.com/2013/07/ruby_on_rails_tutorial_2nd_edition.pdf">pdf</a> by the end of which i had the basic functionality of login/logout and after that i used paperclip gem to upload photos as an necessary attachments with.
</p>